@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    cursor: url(../img/mata_mosquito.png) 20 20, auto;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items:flex-start;
}
.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

main{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#selectOption{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: .2rem;
    font-weight: 400;
    font-size: 16px;
}
#start{
    margin: .5rem;
    padding: 10px;
    outline: none;
    background-color: #dc3545;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: .2rem;
    width: 30%;
    cursor: pointer;
}


.contentApp{
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    
}

.contentApp img{
    overflow: hidden;
    width: 100%;
    object-position: top;
    height: 100%;
    object-fit: cover;
}
#mosquitinho:hover{
    cursor: url(../img/mata_mosquito.png) 20 20, auto;
}

#pontos{
    position: fixed;
    top: 1rem;
    left: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}


